* {
  @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
  color: hsl(224, 21%, 14%);
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: hsl(210, 60%, 98%);
}

.App {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  padding: 1% 3%;
  margin: 5%;
}

.headerContainer {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

img {
  height: 50px;
}

.numOfNotifications {
  font-size: 1.2rem;
  background: hsl(219, 85%, 26%);
  color: hsl(0, 0%, 100%);
  padding: 1% 6%;
  border-radius: 25%;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
  /* margin: 10%; */
}

.notification {
  display: flex;
  flex-direction: row;
  background-color: hsl(210, 60%, 98%);
  padding: 2%;
  margin: 2% 0;
  border-radius: 2%;
}

.noticationText {
  display: flex;
  flex-direction: column;
}
